
<div id="my-col-text">

    <h1>Modificar Rol</h1>
    <p>No se pudo eliminar el rol dado que está siendo utilizado por varios usuarios</p>

    <a href="{{ app.request.uriForPath('/#!/rol') }}">
        Regresar a la lista
    </a>
</div> <!-- /col-text -->
<script type="text/javascript" src="{{ asset('js/search.js') }}"></script>
