<h1>Agregar Rol</h1>

<table>
	<th>
<form action="{{ path('rol_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Agregar</button>
    </p>
</form>
	</th>
</table>
<ul class="record_actions">
    <li>
        <a href="{{ app.request.uriForPath('/#!/rol') }}">
            Back to the list
        </a>
    </li>
</ul>
