{# src/INCES/ComedorBundle/Resources/views/Menu/new.html.twig #}
{#
{% extends '::base.html.twig' %}

{% block body %}
#}
<h1>Agregar Menu</h1>
<table>
	<th>
<form action="{{ app.request.uriForPath('/menu/create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Agregar</button>
    </p>
</form>
	</th>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ app.request.uriForPath('/#!/menu') }}">
            Back to the list
        </a>
    </li>
</ul>
{#
{% endblock %}
#}
