<div id="col-browser"><img class="error404" src="{{ asset('img/error_image.jpg') }}" width="200" height="200" alt="" /></div>
<div id="col-text">
    <h1>Oops! Un error ha ocurrido</h1>
    {#
    <h2>The server returned a "{{ status_code }} {{ status_text }}".</h2>
    #}
    <h2>Por favor verifique la dirección e inténtelo de nuevo.</h2>
</div>
