<table class="together">
    <tr class="tsearch">
        <td>
            <a class="mybutton" href="{{ app.request.uriForPath('/#!/contabilidad/reporteingresos') }}">
                Reporte Ingresos
            </a>
        </td>
        <td>
            <a class="mybutton" href="{{ app.request.uriForPath('/#!/contabilidad/reporteusuarios') }}">
                Reporte Usuarios
            </a>
        </td>
    </tr>
</table>
